<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blog Password Reset</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
  <div class="container">
    <% if (message.length) { %>
      <div class="alert">
        <%= message %>
      </div>
    <% } %>
    <form method="POST">
      <label for="password">New Password</label>
      <div class="input-container">
        <input type="password" name="new_password" class="form-input" required/>
      </div>
      
      <label for="password_confirmation">New Password Confirmation</label>
      <div class="input-container">
        <input type="password" name="new_password_confirmation" class="form-input" required/>
      </div>
  
      <button type="submit" class="form-btn">Reset Password</button>
    </form>
  
    <div class="links-container">
       Remembered your password?
      <a href="/sign-in">
        <b>Sign In</b>
      </a>
    </div>
  </div>
  <script src="/main.js"></script>
</body>
</html>