<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blog Sign In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
  <!DOCTYPE html>
  <html>
  
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
  </head>
  
  <body>
    <div class="container">
      <% if (message.length) { %>
        <div class="alert">
          <%= message %>
        </div>
      <% } %>

      <form action="/sign-in" method="POST">
      
        <label for="email">Email</label>
        <div class="input-container">
          <input type="email" name="email" class="form-input" required/>
        </div>
  
        <label for="password">Password</label>
        <div class="input-container">
          <input type="password" name="password" class="form-input" required/>
        </div>
  
        <button type="submit" class="form-btn">Sign In</button>
      </form>
  
      <div class="links-container">
        <a href="/password-recovery">
          <b>Forgot Password</b>
        </a>
        or
        <a href="/sign-up">
          <b>Sign Up</b>
        </a>
      </div>
    </div>
  
    <script src="/main.js"></script>
  </body>
  
  </html>
  <script src="/main.js"></script>
</body>
</html>